{% block msg_error %}
    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="True">&times;</span>
                </button>
                {{ message }}
                <img src="close.soon" style="display:none;" onerror="(function(el){ setTimeout(function(){ $(el).parent().remove(); },3500 ); })(this);" />

            </div>
        </div>
        {% endfor %}
    {% endif %}
{% endblock %}