html, body{
    height: 100%;
    width: 100%;
    background-color: #f0f8ff !important;
}
#custom-login-form{
    border: #337ab7 solid thin;
    border-radius: 8px;
    padding: 2em;
    background-color: white;
    max-width: 30em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.btn-transparent{
    width: 4em;
    height: 3em;
    background-color: rgba(255,255,255,0);
    border: none;
}
.btn-transparent:hover{
    border: #337ab7 solid thin;
    border-radius: 8px;
}
.fit-content {
    height: fit-content;
    margin-top: 1.7em
}
#bookings-table tbody td{
    word-break: break-all;
}

