{% load static %}
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/app.css' %}">
        <script src="https://kit.fontawesome.com/f8abda3465.js" crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>     
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
        <title>Bookings App</title>
    </head>
    <body>
        {% if user.is_authenticated %} 
            <div id= "nav-bar" class= "position-fixed d-flex">
                <button class="btn-transparent d-flex justify-content-center align-items-center" onClick="window.history.back();return false;" ><i class="fa fa-angle-left fa-2xl"></i></button>
                <span id="title-app" class="text-align-center align-items-center m-0">CHAPP SOLUTIONS - ZUCCHETTI</span>
                <div>
                    <button class="btn-transparent d-flex justify-content-center align-items-center" onclick="location.href='/'"><i class="fa fa-home fa-xl"></i></button>
                    <button class="btn-transparent d-flex justify-content-center align-items-center" onclick="location.href='/logout'" ><i class="fa-solid fa-right-from-bracket fa-xl"></i></button>
                </div>
            </div> 
        {% endif %}
        {% block content %}
        {% endblock %}
        
        
    </body>
</html>