{% extends 'app/base.html' %}

{% block content %}
    <div class="">
        <h1>Booking Contact Data</h1>
        <form action="{% url 'save_booking' %}" class="form-inline w100" method="post">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group">
                    <label>In date:</label>
                    <div>
                        <input type="text" class="form-control" class="form-control" name="in_date" value={{in_date}} readonly><br><br>
                    </div>
                </div>

                <div class="form-group">
                    <label >Out date:</label>
                    <div>
                        <input type="text" class="form-control" name="out_date" value={{out_date}} readonly><br><br>
                    </div>
                </div>

                <div class="form-group">
                    <label >Num guests:</label>
                    <div>
                        <input type="text" class="form-control" name="num_guests" value={{num_guests}} readonly><br><br>
                    </div>
                </div>

                <div class="form-group">
                    <label >Room type</label>
                    <div>
                        <input type="text" class="form-control" name="room_type" value={{room_type}} readonly><br><br>
                    </div>
                </div>
                <div class="form-group">
                    <label >Total</label>
                    <div>
                        <input type="text" class="form-control" name="total" value={{total}} readonly><br><br>
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Name:</label>
                    <input type="text" class="form-control" name="name"  maxlength="60" required><br><br>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Email:</label>
                    <input type="text" class="form-control" name="email" maxlength="100" required><br><br>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group">
                    <label>Country code:</label>
                    <input type="text" class="form-control" name="country_code" maxlength="3" required><br><br>
                </div>
                <div class="form-group">
                    <label>Phone:</label>
                    <input type="text" class="form-control" name="phone" maxlength="9" required><br><br>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>

        </form>
       
    </div>
{% endblock %}