{% extends 'hotelbooking/base.html' %}

{% block content %}
    <div class="">
        <h1>Create Booking</h1>
        <form action="{% url 'get_room_types_available' %}" class="form-inline" method="get">
            <label for="start">In date:</label>
            <input type="date" id="start" name="in_date" value={{in_date}} min="2022-01-01" max="2022-12-31">

            <label for="start">Out date:</label>
            <input type="date" id="start" name="out_date" value={{out_date}} min="2022-01-01" max="2022-12-31">

            <label for="start">Num guests:</label>
            <input type="number" name="num_guests" min="0" max="4" value={{num_guests}}>

            <button type="submit" class="btn btn-success btn-lg mb-2">Search</button>
        </form>
        <form action="{% url 'get_room_types_available' %}" class="form-inline" method="get">
            {% for room_type in room_types_available %}
                <div class="">
                    <a href="">{{ room_type.name }}</a>
                    <button type="submit" class="btn btn-success btn-lg mb-2">Select</button>
                </div>
            {% endfor %}
           
        </form>
    </div>
{% endblock %}