{% extends 'hotelbooking/base.html' %}

{% block content %}
    <div class="">
        <h1>Create Booking</h1>
        <form action="{% url 'get_room_types_available' %}" class="form-inline" method="get">
            <label for="start">In date:</label>
            <input type="date" id="start" name="in_date" value={{in_date}} min="2022-01-01" max="2022-12-31">

            <label for="start">Out date:</label>
            <input type="date" id="start" name="out_date" value={{out_date}} min="2022-01-01" max="2022-12-31">

            <label for="start">Num guests:</label>
            <input type="number" name="num_guests" min="0" max="4" value={{num_guests}}>

            <button type="submit" class="btn btn-primary">Search</button>
        </form>.
        <form action="{% url 'booking_contact_data' %}" class="form-inline" method="get">
            {% for room_type in room_types_available %}
                <div class="">
                    <label>Tipo habitación:</label>{{ room_type.name }}
                    <label>Precio:</label>{{ room_type.price }}
                    <input type="hidden" id="start" name="room_type" value={{room_type.id}}>
                    <input type="hidden" id="start" name="in_date" value={{in_date}} min="2022-01-01" max="2022-12-31">
                    <input type="hidden" id="start" name="out_date" value={{out_date}} min="2022-01-01" max="2022-12-31">
                    <input type="hidden" name="num_guests" min="0" max="4" value={{num_guests}}>
                    <button type="submit" class="btn btn-primary">Select</button>
                </div>
            {% endfor %}
            {% if not room_types_available %}
                No hay habitaciones disponibles
            {% endif %}
        </form>
    </div>
{% endblock %}