{% extends 'app/base.html' %}

{% block content %}
    {% load i18n %}
    <div class="container">
        <div class="d-flex justify-content-start">
            <h3 class="mt-4" >{% trans 'Create Booking' %}</h3>
        </div>
        <form class= "row d-md-flex fit-content justify-content-center mt-4" action="{% url 'get_room_types_available' %}" method="get">
            <div class="d-flex align-items-center justify-content-center col-12 col-md-3 mt-3 ps-0">
                <label class="d-flex text-start mt-0 ms-2">{% trans 'In / Out' %} :</label>
                <input type="text" class="form-control fit-content mt-0 text-center ms-2" name="in_out_range" value={{in_out_range}}  required />
            </div>
            <div class="d-flex align-items-center justify-content-start justify-content-md-center col-12 col-md-2 mt-3 ps-0 ">
                <label class="d-flex text-start mt-0 ms-2">{% trans 'Guests' %} :</label>
                <input type="number" class="form-control fit-content mt-0 text-center ms-2" name="num_guests" min="1" max="4" value={{num_guests}} required />
            </div>
            <button type="submit" class="col-md-2 btn btn-primary mt-4">{% trans 'Search' %} </button>
        </form>
        
        {% for room_type in room_types_available %}
            <form class="d-flex justify-content-center" action="{% url 'booking_contact_data' %}" method="get">
                <div class="card col-10 col-md-8">
                    <div class="card-body d-flex justify-content-between align-items-center">
                        <span class="h5 col">{{ room_type.name }}</span>
                        <span class="col d-flex justify-content-center"><i class="fa-solid fa-user-large" ></i>{{ room_type.max_guest }}</span>
                        <span class="col text-center">{{ room_type.total }}€</span>
                        <button type="submit" class="btn btn-primary">{% trans 'Select' %}</a>
                    </div>
                    
                </div>
                <input type="hidden" name="room_type" value={{room_type.id}} required >
                <input type="hidden" name="in_out_range" value={{in_out_range}} class="form-control" required />
                <input type="hidden" name="num_guests" min="1" max="4" value={{num_guests}} required >
                <input type="hidden" name="total" value={{room_type.total}} >
            </form>
            {% endfor %}
            {% if not room_types_available %}
            {% trans 'There is not any room available' %}
        {% endif %}
    </div>


    
    <script type="text/javascript">
         
        $(function() {
            $('input[name="in_out_range"]').daterangepicker({
                opens: 'left',
                startDate: moment("{{in_date}}" || moment(), 'YYYY-MM-DD'),
                endDate: moment("{{out_date}}" || moment().startOf('hour').add(24, 'hour'), 'YYYY-MM-DD'),
                minDate: moment(),
                maxDate: moment().endOf('year'),
                locale: {
                    format: 'YYYY-MM-DD'
                }
            }, function(start, end, label) {
                console.log("A new date selection was made: " + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD'));
            });
        });
    </script>
{% endblock %}

